<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet/less" type="text/css" href="/static/style.less" />
  <script src="/static/less.js"></script>
</head>
<body>
 <div class="class">
   123
 </div>
 <div class="c">namespace</div>
 <div class="namespace">
   <div class="mixin">
      guard
   </div>
 </div>
 <div class="important">important</div>
</body>
</html>