<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <input type="text" id="first">
  <input type="text" id="second">
  <div id="result"></div>
  <script>
  if (window.Worker) {
    // var myWorker = new Worker('/static/worker.js')
    var myWorker = new SharedWorker('/static/worker.js')
    first.onchange = function() {
      myWorker.port.postMessage([first.value,second.value]);
      console.log('Message posted to worker');
    }
    second.onchange = function() {
      myWorker.port.postMessage([first.value,second.value]);
      console.log('Message posted to worker');
    }

    myWorker.port.onmessage = function(e) {
      result.innerHTML = e.data;
      console.log('Message received from worker');
    }

    myWorker.onerror = function (e) {
      console.log(e)
      e.preventDefault()
    }

    // 终止方法
    // myWorker.terminate();

  }  
  </script>
</body>
</html>